<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
        <!--container-->
            <!--jumbotron-->
                <!--button for scraping-->
                <!---->
            <!---->

            <!--Mars News-->
            <!--row-->
                <!--column-->
                    <!--media-->
                        <!--content-->
                        <!---->
                    <!---->
                <!---->
            <!---->

            <!--featured image, facts table-->
            <!--row for featured image-->
                <!--COLUMN-->
                    <!--header-->
                    <!--img-->
                <!---->

                <!-- column for mars facts table-->
                    <!--row for mars facts table-->
                        <!--header-->
                        <!--content-->
                    <!---->
                <!---->
            <!---->
            <!--mars hemis-->
            <!--row for mars hemis-->
                <!--page-header-->
                    <!--header, text-center-->   
                <!----> 

                {% for hemisphere in mars.hemispheres %}
                <!--column-->
                    <!--thumbnail-->
                        <!--img-->
                        <!--caption-->
                            <!--hemi title-->
                        <!---->
                    <!---->
                <!---->
                {% endfor %}
            <!---->
        <!---->
    </body>
  </html>
